# excludes from the docker image/build

# 1. Ignore Laravel-specific files we don't need
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.backup
.env.production
.env.local
.env.testing
.env.development
.rr.yml
rr
frankenphp

# 2. Dependencies
vendor/
node_modules/

# 3. Version control
.git/
.github/
.gitignore
.gitattributes

# 4. Misc and temporary files
fly.toml
.vscode/
.idea/
.sass-cache/
*~
*.log
.DS_Store
Thumbs.db
public/hot
public/storage
.phpunit.result.cache
.zed/
.agents/
